<h2> List of ratings</h2>

<ul>
 <% @ratings.each do |rating| %>
   	<li> <%= rating.to_s %> <%= link_to  "#{rating.user.username}", user_path(rating.user), :class => 'btn btn-primary' %> </li>
 <% end %> 
</ul>

