<table class="table table-hover">
	<thead>
	<tr>
		<th> Name </th>
		<th> Year </th>
	</thead>
	<% breweries.each do |b| %>
		<tr>
			<td><%= link_to b.name, b %></td>
			<td><%= b.year %></td>
		</tr>
	<% end %>
</table>
